
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
.container{

      height: 100vh;
      width: 100vw;
      background-color: #0093E9;
      background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
      display: flex;
      justify-content: center;
      align-items: center;
     

}
.card{
      width: 360px;
      height: 600px;
      background-color: white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
}

.card img{
      height: 40%;
}